.content:not(.custom).content:not(.custom) {
  max-width 100%
}

.content h1 {
  font-size: 1.6rem;
}

.content h2 {
  font-size: 1.4rem;
}

.content h3 {
  font-size: 1.2rem;
}

.content h4,
.content h5,
.content h6 {
  font-size: 1rem;
}

.content.content pre code {
  color: #476582;
  padding: 0.25rem 0.5rem;
  margin: 0;
  font-size: 0.85em;
}

.content:not(.custom) > h1,
.content:not(.custom) > h2,
.content:not(.custom) > h3,
.content:not(.custom) > h4,
.content:not(.custom) > h5,
.content:not(.custom) > h6 {
  color: #3eaf7c;
}